<div>
    <add-todo
    [title]="addTaskTitle"
    (todoAdded)="onTodoAdded($event)"
    >
    </add-todo>
    <app-rtsearch
    [inputData]="todos"
    (foundData)="onTodosFound($event)"
    ></app-rtsearch>
    <div class="lists-container">
        <todo-list
        title="To Do..."
        listType="todo"
        [source]="filterTodos"
        (changeStatus)="onStatusChanged($event)"
        ></todo-list>
        <todo-list
        title="Doing..."
        listType="doing"
        [source]="doing"
        (changeStatus)="onStatusChanged($event)"
        ></todo-list>
        <todo-list
        title="Done"
        [source]="done"
        listType="done"
        ></todo-list>
    </div>
</div>