<div>
    <h1>{{title}}</h1>
    <add-todo
    (toDoAdded)="onToDoAdded($event)"
    ></add-todo>
    <div class="container">
    <todo-list
    listTitle="To Do"
    listType="todo"
    [todos]="toDoTasks"
    (stateChange)="onStateChanged($event)"
    ></todo-list>
    <todo-list
    listType="doing"
    listTitle="Doing"
    [todos]="doing"
    (stateChange)="onStateChanged($event)"
    ></todo-list>
    <todo-list
    listType="done"
    listTitle="Done"
    [todos]="done"
    ></todo-list>
    </div>
</div>