.list-container {
    text-align: center;
}
.todo-container {
    display: grid;
}

.todo-item {
    border: 2px solid #000;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    line-height: 2.5em;
}