<div class="add-container">
    <h1>{{title}}</h1>
    <div class="add-form">
        <label>Task Name:</label><input #taskName type="text" placeholder="Task Name" />
        <label>Priority:</label><select #priority>
            <option>Priority</option>
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
        </select>
        <label>Duration: </label><input #duration type="number" placeholder="Duration" value=0/>
        <button (click)="addTodo(taskName, priority, duration)">Add Task</button>
    </div>
</div>